.Sign-up-button {
    background-color:rgb(46,164,79);
    color:white;
    border:none;
    border-radius:5px;
    height:37px;
    width:90px;
    font-size:15px;
    font-weight:bold;
  }

  .Sign-up-button:hover{
    box-shadow:5px 5px 10px rgba(0,0,0,0.15);
  }