.first {
    font-family:'Montserrat', sans-serif;
    text-align: center;
    font-weight:bold;
    font-size: 30px;
    margin-bottom: 0;
  }

  .second {
    text-align: center;
    font-family:'Montserrat', sans-serif;
    margin-bottom: 0;
    margin-right: 5px;
  }

  .third {
    text-decoration: underline;
  }